body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
  height:100px;
  width:100%;
  background-color: brown;
}

.item{
  height: 20px;
  width: 290px;
  border: 1px solid black;
  margin: 5px 5px 0px 5px
}

.todo{
  height: 500px;
  width:500px;
  background-color: brown;
  margin:auto;
}

.items{
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin:auto;
}

.app{
  margin-top: 20px;
}
